<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Right Channel</title>
  <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('css/bootstrap-overwrite.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('css/main.css') }}" rel="stylesheet" type="text/css">
  {% block extra_links %}
  {% end %}
</head>
<body>
  {% include navbar.html %}
  <div class="container">
    {% include ../modules/system_alert.html %}
    {% block content %} {% end %}
    {% include foot.html %}
  </div>
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/bootstrap.js') }}"></script>
  <!-- Baidu Button BEGIN -->
  <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=5&amp;pos=right&amp;uid=6818998" ></script>
  <script type="text/javascript" id="bdshell_js"></script>
  <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
  </script>
  <!-- Baidu Button END -->
  {% block extra_scripts %}
  {% end %}
</body>
</html>