<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">电影来了</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if params.get('site_nav') == '/' %} class="active" {% end %}>
          <a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a>
        </li>
        <li {% if params.get('site_nav') == 'rating' %} class="active" {% end %}>
          <a href="/movie/rating"><span class="glyphicon glyphicon-star-empty"></span> 我来评分</a>
        </li>
        <li {% if params.get('site_nav') == 'recommendation' %} class="active" {% end %}>
          <a href="/movie/recommendation"><span class="glyphicon glyphicon-thumbs-up"></span> 给我推荐</a>
        </li>
        <li {% if params.get('site_nav') == 'movie' %} class="active" {% end %}><a href="/movie">电影</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if 'user' in params and params.get('user') %}
          <li {% if params.get('site_nav') == 'account' %} class="active" {% end %}>
            <a href="/account"><span class="glyphicon glyphicon-user"></span> {{ params.get('user').get('nick_name') }}</a>
          </li>
          <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> 退出</a></li>
        {% else %}
          <li {% if params.get('site_nav') == 'login' %} class="active" {% end %}><a href="/login"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
          <li {% if params.get('site_nav') == 'register' %} class="active" {% end %}><a href="/register"><span class="glyphicon glyphicon-edit"></span> 注册</a></li>
        {% end %}
      </ul>
    </div>
  </div>
</div>