<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span2">
      <a href="#" class="thumbnail">
        <img alt="260x180" style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/5071c5cf90d7a90a4169c75b">
      </a>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img alt="260x180" style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/5071c08190d7a90a3c074e69">
      </a>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img alt="260x180" style="overflow: hidden; width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/5071cd3390d7a90a416a6b4d">
      </a>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img alt="260x180" style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfccfbf13174a44177495">
      </a>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img alt="260x180" style="width: 120px; height: 170px;" src="http://img1.static.dianying.fm/poster/m/50bcfa99eb0a193dd02299ca">
      </a>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
    <li>
      <a href="#" class="thumbnail" title="测试">
        <img style="width: 120px; height: 170px;" src="http://img2.static.dianying.fm/poster/m/50bcfc1ebf13174a44177467">
      </a>
    </li>
  </ul>
</div>