<div class="row-fluid">
  <ul class="thumbnails">
    {% for movie in movies %}
      <li>
        <div class="thumbnail">
          {% if 'cn_title' in movie %}
            {% set title = movie['cn_title'] %}
          {% elif 'en_title' in movie %}
            {% set title = movie['en_title'] %}
          {% else %}
            {% set title = '未知' %}
          {% end %}
          <a href="http://www.baidu.com" title="{{ title }}">
            <img style="width: 120px; height: 160px;" src="http://img1.static.dianying.fm/poster/m/5071c07790d7a90a3c074cfe">
          </a>
        <div class="movie-caption">{{ title }}</div>
        </div>
      </li>
    {% end %}
  </ul>
</div>