<div class="row-fluid">
  <ul class="galery">
    {% for movie in movies %}
      <li>
        <div class="galery-element">
          <div class="galery-element-menu">
            <ul>
              <li><a><i
                  class="iconbig-play1"></i></a></li>
              <li><a><i
                  class="iconbig-download"></i></a></li>
              <li><a><i
                  class="iconbig-eye"></i></a></li>
              <li><a><i
                  class="iconbig-note-checked"></i></a></li>
              <li><a><i
                  class="iconbig-speak"></i></a></li>
              <li><a><i
                  class="iconbig-note-open"></i></a></li>
            </ul>
          </div>
      </div>
      </li>
    {% end %}
  </ul>
</div>