{% if params.get('movies') or params.get('page') > 0 %}
  <div class="row-fluid">
    <div class="pagination pagination-large pagination-centered">
      <ul>
        {% from settings import settings %}
        {% set continuous_pages = 9 %}
        {% if params.get('page') == 0 %}
          <li class="disabled"><span>上一页</span></li>
          {% set start_page = 0 %}
        {% else %}
          <li>
            <a href="?genre={{params.get('genre')}}&country={{params.get('country')}}&year={{params.get('year')}}&
              sort={{params.get('sort')}}&resource={{params.get('resource')}}&view={{params.get('view')}}&
              page={{params.get('page') - 1}}">
              上一页
            </a>
          </li>
          {% if params.get('page') - 1 > int(continuous_pages / 2) %}
            <li>
              <a href="?genre={{params.get('genre')}}&country={{params.get('country')}}&year={{params.get('year')}}&
                sort={{params.get('sort')}}&resource={{params.get('resource')}}&view={{params.get('view')}}&
                page=0">
                1
              </a>
            </li>
            <li><a href="#">...</a></li>
            {% set start_page = params.get('page') - int(continuous_pages / 2) %}
          {% else %}
            {% set start_page = 0 %}
          {% end %}
        {% end %}
        {% set end_page = start_page + continuous_pages %}
        {% for page in range(start_page, end_page) %}
          {% if page != params.get('page') %}
            <li>
              <a href="?genre={{params.get('genre')}}&country={{params.get('country')}}&year={{params.get('year')}}&
                sort={{params.get('sort')}}&resource={{params.get('resource')}}&view={{params.get('view')}}&
                page={{page}}">
                {{page + 1}}
              </a>
            </li>
          {% else %}
            <li class="active"><span>{{page + 1}}</span></li>
          {% end %}
        {% end %}
        {% if len(params.get('movies')) == settings['movie']['page_size'] %}
          <li>
            <a href="?genre={{params.get('genre')}}&country={{params.get('country')}}&year={{params.get('year')}}&
              sort={{params.get('sort')}}&resource={{params.get('resource')}}&view={{params.get('view')}}&
              page={{end_page + int(continuous_pages / 2)}}">
              ...
            </a>
          </li>
          <li>
            <a href="?genre={{params.get('genre')}}&country={{params.get('country')}}&year={{params.get('year')}}&
              sort={{params.get('sort')}}&resource={{params.get('resource')}}&view={{params.get('view')}}&
              page={{params.get('page') + 1}}">
              下一页
            </a>
          </li>
        {% else %}
          <li class="disabled"><span>下一页</span></li>
        {% end %}
      </ul>
    </div>
  </div>
{% end %}