{% if 'op_result' in params %}
  {% if params.get('op_result').get('type') == 'success' %}
    <div class="alert alert-success operation-alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{ params.get('op_result').get('message') }}
    </div>
  {% elif params.get('op_result').get('type') == 'error' %}
    <div class="alert alert-error operation-alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{ params.get('op_result').get('message') }}
    </div>
  {% end %}
{% end %}