.star-rating-large {
    width: 120px;
    height: 24px;
/*     margin: 0; */
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/star-matrix-large.png) no-repeat 0 0;
}

.star-rating-large-v0 {
    background-position: 0 0
}

.star-rating-large-v1 {
    background-position: 0 -24px
}

.star-rating-large-v2 {
    background-position: 0 -48px
}

.star-rating-large-v3 {
    background-position: 0 -72px
}

.star-rating-large-v4 {
    background-position: 0 -96px
}

.star-rating-large-v5 {
    background-position: 0 -120px
}

.star-rating-large-v6 {
    background-position: 0 -144px
}

.star-rating-large-v7 {
    background-position: 0 -168px
}

.star-rating-large-v8 {
    background-position: 0 -192px
}

.star-rating-large-v9 {
    background-position: 0 -216px
}

.star-rating-large-v10 {
    background-position: 0 -240px
}

.star-rating-large a {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 12px;
    height: 24px;
    text-decoration: none;
    z-index: 2;
}

.star-rating-large a.r1 {
    left: 0
}

.star-rating-large a.r2 {
    left: 12px
}

.star-rating-large a.r3 {
    left: 24px
}

.star-rating-large a.r4 {
    left: 36px
}

.star-rating-large a.r5 {
    left: 48px
}

.star-rating-large a.r6 {
    left: 60px
}

.star-rating-large a.r7 {
    left: 72px
}

.star-rating-large a.r8 {
    left: 84px
}

.star-rating-large a.r9 {
    left: 96px
}

.star-rating-large a.r10 {
    left: 108px
}

.star-rating-large a:hover {
    width: 120px;
    height: 24px;
    left: 0;
    z-index: 1;
    background: url(../img/star-matrix-large.png) no-repeat 0 0;
}

.star-rating-large a.r1:hover {
    background-position: 0 -24px;
}

.star-rating-large a.r2:hover {
    background-position: 0 -48px;
}

.star-rating-large a.r3:hover {
    background-position: 0 -72px;
}

.star-rating-large a.r4:hover {
    background-position: 0 -96px;
}

.star-rating-large a.r5:hover {
    background-position: 0 -120px;
}

.star-rating-large a.r6:hover {
    background-position: 0 -144px;
}

.star-rating-large a.r7:hover {
    background-position: 0 -168px;
}

.star-rating-large a.r8:hover {
    background-position: 0 -192px;
}

.star-rating-large a.r9:hover {
    background-position: 0 -216px;
}

.star-rating-large a.r10:hover {
    background-position: 0 -240px;
}