body {
  padding-top: 45px;
}

@media ( max-width : 980px) { /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

.table th,
.table td {
  border-top: 1px dashed #ababab;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f1f1f1;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #dce9f9;
}

/* th {
background-color: #dce9f9;
background-image:   -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
background-image:   -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
background-image:    -moz-linear-gradient(top, #ebf3fc,   #dce9f9);
background-image:     -ms-linear-gradient(top, #ebf3fc,   #dce9f9);
background-image:      -o-linear-gradient(top, #ebf3fc,   #dce9f9);
background-image:         linear-gradient(top, #ebf3fc,   #dce9f9);
-webkit-box-shadow: 0 1px 0   rgba(255,255,255,.8) inset;
-moz-box-shadow:0 1px 0   rgba(255,255,255,.8) inset;
box-shadow: 0 1px 0   rgba(255,255,255,.8) inset;
border-top: none;
text-shadow: 0 1px 0   rgba(255,255,255,.5);
} */