/* overwrite */
body {
  padding-top: 45px;
  color: #555555;
  background-color: #eee;
}

.navbar .brand {
  font-size: 25px;
}

.navbar {
  font-size: 20px;
  border-bottom: 3px solid #f89406;
}

.row-fluid {
  margin: 5px 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #222222;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.table td {
  border-top: 1px dashed #ababab;
}

.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th {
  background-color: #f1f1f1;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #dce9f9;
}

.table .auto-size {
  width: 1px;
  white-space: nowrap;
}

/* custom */
.content-block {
  padding: 0 20px;
  margin: 10px 0;
  background-color: white;
  border: 1px solid #ccc;
}

.nav-secondary {
  font-size: 15px;
  margin: 0;
  list-style: none;
}

.nav-secondary > li {
  float: left;
}

.nav-secondary > li > a {
  color: gray;
  display: block;
  padding: 10px 40px 10px 0;
  opacity: 0.6;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;  
}

.nav-secondary > li > a:hover {
  color: black;
  opacity: 1;
}

.nav-secondary > li.active > a {
  color: black;
  font-weight: bold;
  opacity: 1;
}

.switcher .label {
  margin-right : 5px;
  line-height: 18px;
}

.switcher .divider {
  padding: 0 2px;
  color: #aaa;
}

.galery {
  margin-left: 0;
  list-style: none;
}

.galery > li {
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
}

.galery-element {
  border: 1px solid #ccc;
  background-color: white;
}

.galery-element-menu {
  border-bottom: 1px solid #ccc;
  height: 32px;
}

.galery-element-menu ul {
  list-style: none;
}

.galery-element-menu ul li {
  float: left;
  margin-right: 15px;
}

.galery-element-menu ul li a {
  margin-right: 18px;
  opacity: 0.6;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.galery-element-menu ul li a:hover{
  opacity:1;
}

/* Override thumbnail style */
/* .thumbnails>li {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.thumbnail {
  padding: 1px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  position: relative;
}

div.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
} */

.movie-caption {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 120px;
  height: 20px;
  font-size: 13px;
  color: white;
  text-align: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
}

.movie-rating {
  position: absolute;
  left: 1px;
  top: 1px;
  padding: 2px 4px;
  line-height: 14px;
  max-width: 112px;
  font-size: 12px;
  font-weight: bold;
  color: #f89406;
  overflow: hidden;
  background-color: rgba(5, 5, 5, .7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* year in h3 title */
h3 .year {
  color: #888;
}

/* indented paragraph */
.p-indented {
  text-indent: 2em;
}

/* paragraph title */
.p-title {
  border-bottom: 1px solid #ccc;
}

/* th {
background-color: #dce9f9;
background-image:   -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
background-image:   -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
background-image:    -moz-linear-gradient(top, #ebf3fc,   #dce9f9);
background-image:     -ms-linear-gradient(top, #ebf3fc,   #dce9f9);
background-image:      -o-linear-gradient(top, #ebf3fc,   #dce9f9);
background-image:         linear-gradient(top, #ebf3fc,   #dce9f9);
-webkit-box-shadow: 0 1px 0   rgba(255,255,255,.8) inset;
-moz-box-shadow:0 1px 0   rgba(255,255,255,.8) inset;
box-shadow: 0 1px 0   rgba(255,255,255,.8) inset;
border-top: none;
text-shadow: 0 1px 0   rgba(255,255,255,.5);
} */
.logo-media {
  background-image: url(../img/platform-logo.png);
  background-repeat: no-repeat;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  white-space: nowrap;
}

.logo-youku {
  background-position: 0 0;
}

.logo-ku6,.logo-kuliu {
  background-position: 0 -26px;
}

.logo-pptv {
  background-position: 0 -52px;
}

.logo-iqiyi {
  background-position: 0 -78px;
}

.logo-souhu,.logo-sohu {
  background-position: 0 -104px;
}

.logo-tudou {
  background-position: 0 -130px;
}

.logo-sina {
  background-position: 0 -156px;
}

.logo-leshi {
  background-position: 0 -182px;
}

.logo-wuliu {
  background-position: 0 -206px;
}

.logo-m1905 {
  background-position: 0 -233px;
  width: 36px;
}

.logo-kumi {
  background-position: 0 -259px;
}

.logo-xunlei {
  background-position: 0 -284px;
}

.logo-tengxun {
  background-position: 0 -310px;
}

.logo-liu {
  background-position: 0 -335px;
}

.logo-tv189 {
  background-position: 0 -362px;
}

.logo-cntv {
  background-position: 0 -387px;
}

.logo-wysp {
  background-position: 0 -411px;
}

.logo-bsy {
  background-position: 0 -435px;
}

.logo-hstv {
  background-position: 0 -461px;
}

.logo-pps {
  background-position: 0 -481px;
}

.logo-taohua {
  background-position: 0 -501px;
}

.logo-ifeng {
  background-position: 1px -523px;
}