{% extends ../layout/layout.html %}
{% block content %}
  {% if params.get('movie') %}
    {% set movie = params.get('movie') %}
    <div class="content-block">
      {% from util import combine_titles %}
      {% set title = combine_titles(movie.get('title'), movie.get('original_title')) %}
      {% if title %}
        <h3>
          {{ title }}
          {% if movie.get('year') %}
            <span class="year">
              ({{ movie.get('year') }})
            </span>
          {% end %}
        </h3>
      {% end %}
    
      <div class="row-fluid profile">
        <div class="pull-left poster-large">
          <a>
            <img src="http://img3.douban.com/lpic/s11356673.jpg">
          </a>
        </div>
        <div class="pull-left desc">
          <table class="table table-condensed table-dash-border">
            <tbody>
              {% if movie.get('directors') %}
                <tr>
                  <td class="auto-size"><strong>导演</strong></td>
                  <td>
                    {{ ' / '.join(movie.get('directors')) }}
                  </td>
                </tr>
              {% end %}
              {% if movie.get('casts') %}
                <tr>
                  <td class="auto-size"><strong>主演</strong></td>
                  <td>
                    {{ ' / '.join(movie.get('casts')) }}
                  </td>
                </tr>
              {% end %}
              {% if movie.get('genres') %}
                <tr>
                  <td class="auto-size"><strong>类型</strong></td>
                  <td>
                    {{ ' / '.join(movie.get('genres')) }}
                  </td>
                </tr>
              {% end %}
              {% if movie.get('countries') %}
                <tr>
                  <td class="auto-size"><strong>地区</strong></td>
                  <td>
                    {{ ' / '.join(movie.get('countries')) }}
                  </td>
                </tr>
              {% end %}
              {% if movie.get('aka') %}
                <tr>
                  <td class="auto-size"><strong>又名</strong></td>
                  <td>
                    {{ ' / '.join(movie.get('aka')) }}
                  </td>
                </tr>
              {% end %}
              {% if movie.get('douban') and 'rating' in movie.get('douban') %}
                <tr>
                  <td class="auto-size"><strong>豆瓣评分</strong></td>
                  <td>
                    <span class="rating">
                      {{ movie.get('douban').get('rating') }}
                    </span>
                  </td>
                </tr>
              {% end %}
              <tr>
                <td class="auto-size"><strong>相关链接</strong></td>
                <td>
                  {% if movie.get('douban') and movie.get('douban').get('link') %}
                    <a href="{{ movie.get('douban').get('link') }}" target="_blank">
                      豆瓣链接
                    </a>
                  {% end %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-small" title="以后再看吧"><i class="icon-eye-open"></i> 想看</button>
            <button type="button" class="btn btn-small" title="已经看过了"><i class="icon-check"></i> 看过</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-small" title="顶一下，推荐别人看"><i class="icon-thumbs-up"></i> 顶</button>
            <button type="button" class="btn btn-small" title="踩一下，不推荐别人看"><i class="icon-thumbs-down"></i> 踩</button>
          </div>
        </div>
    <!--     <div class="pull-right">
          <span class="label label-success">在线播放<i class="icon-hand-right icon-white"></i></span>
          <img class="logo-media logo-youku" alt="">
          <img class="logo-media logo-ku6" alt="">
          <img class="logo-media logo-souhu" alt="">
        </div> -->
      </div>
    
      {% if movie.get('summary') %}
        <legend>剧情简介</legend>
        {% for paragraph in movie.get('summary').split('\n') %}
          <p class="p-indented">{{ paragraph }}</p>
        {% end %}
      {% end %}
      
      <legend>获奖情况</legend>
    </div>
  {% end %}
{% end %}
