{% extends ../layout/layout.html %}

{% block content %}

  <div class="row margin-vertical">
    <ul class="poster-thumbnails">
    </ul>
  </div>

  <div class="row-fluid ajax-loader hide"></div>

{% end %}

{% block extra_links %}
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/star-rating-large.css') }}">
{% end %}

{% block extra_scripts %}
  <script type="text/javascript" src="{{ static_url('js/jquery.cookie.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/utilities.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/movie-rating.js') }}"></script>
{% end %}