{% extends ../layout/layout.html %}
{% block content %}
  {% if params.get('movie') %}
    {% set movie = params.get('movie') %}
    <div class="content-block">
      <h3>
        {% from utilities import combine_titles %}
        {{ combine_titles(movie.get('title'), movie.get('original_title')) }}
        {% if movie.get('year') %}
          <span class="year">
            ({{ movie.get('year') }})
          </span>
        {% end %}
      </h3>

      <div class="row-fluid profile">
        <div class="span3">
          <a>
            <img src="http://img3.douban.com/lpic/s11356673.jpg">
          </a>
        </div>
        <div class="span9">
          {% if movie.get('directors') %}
            <p>
              <strong>导演:</strong>
                {{ ' / '.join(movie.get('directors')) }}
            </p>
          {% end %}
          {% if movie.get('casts') %}
            <p>
              <strong>主演:</strong>
                {{ ' / '.join(movie.get('casts')) }}
            </p>
          {% end %}
          {% if movie.get('genres') %}
            <p>
              <strong>类型:</strong>
                {{ ' / '.join(movie.get('genres')) }}
            </p>
          {% end %}
          {% if movie.get('countries') %}
            <p>
              <strong>国家/地区:</strong>
                {{ ' / '.join(movie.get('countries')) }}
            </p>
          {% end %}
          {% if movie.get('aka') %}
            <p>
              <strong>又名:</strong>
                {{ ' / '.join(movie.get('aka')) }}
            </p>
          {% end %}
          {% if movie.get('douban') and 'rating' in movie.get('douban') %}
            <p>
              <strong>豆瓣评分:</strong>
              <span class="rating">
                {{ movie.get('douban').get('rating') }}
              </span>
              {% if movie.get('douban') and movie.get('douban').get('link') %}
                <a href="{{ movie.get('douban').get('link') }}" target="_blank">
                  详细...
                </a>
              {% end %}
            </p>
          {% end %}
          {% if movie.get('summary') %}
            <p>
              <strong>简介:</strong>
              {{ movie.get('summary') }}
          {% end %}
        </div>
      </div>
      <div class="row-fluid">
        <div class="btn-group toolbar">
          <button id="toWatch" data-id="{{ movie.get('_id') }}" class="btn btn-small" title="想看本片"><i class="icon-eye-open"></i> 想看</button>
          <button id="watched" data-id="{{ movie.get('_id') }}" class="btn btn-small" title="已看本片"><i class="icon-check"></i> 已看</button>
        </div>
      </div>
    </div>
  {% end %}
{% end %}
