{% extends ../layout/layout.html %}

{% block content %}

  {% if params.get('movie') %}
    {% set movie = params.get('movie') %}
    <div class="container-bordered margin-vertical clearfix">
      <div class="col-md-2">
        <div class="margin-vertical">
          <a>
            <img src="http://img3.douban.com/lpic/s11356673.jpg">
          </a>
        </div>
        {% set interested = movie.get('user') and movie.get('user').get('interest') %}
        <div class="margin-vertical btn-group btn-group-xs btn-group-justified interest-marked {{ 'show' if interested else 'hide' }}">
          {% set interest_descs = {'wish': '想看', 'dislike': '没兴趣'} %}
          <a class="btn btn-primary interest-desc" disabled>已标记为{{ interest_descs.get(movie.get('user').get('interest')) if interested else '' }}</a>
          <a data-movie-id="{{ movie.get('_id') }}" class="btn btn-primary" title="取消标记"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        
        <div class="margin-vertical btn-group btn-group-xs btn-group-justified interest-unmarked {{ 'hide' if interested else 'show' }}">
          <a data-movie-id="{{ movie.get('_id') }}" data-interest-type="wish" class="btn btn-primary" title="想看"><span class="glyphicon glyphicon-plus-sign"></span> 想看</a>
          <a data-movie-id="{{ movie.get('_id') }}" data-interest-type="dislike" class="btn btn-primary" title="没兴趣"><span class="glyphicon glyphicon-minus-sign"></span> 没兴趣</a>
        </div>
        
        <div class="margin-vertical star-rating-large {{ 'star-rating-large' + str(int(movie.get('user').get('rating') * 2)) if movie.get('user') and movie.get('user').get('rating') else '' }}">
          <a class="r1" title="给电影打0.5分" data-rating="0.5"></a>
          <a class="r2" title="给电影打1分" data-rating="1"></a>
          <a class="r3" title="给电影打1.5分" data-rating="1.5"></a>
          <a class="r4" title="给电影打2分" data-rating="2"></a>
          <a class="r5" title="给电影打2.5分" data-rating="2.5"></a>
          <a class="r6" title="给电影打3分" data-rating="3"></a>
          <a class="r7" title="给电影打3.5分" data-rating="3.5"></a>
          <a class="r8" title="给电影打4.0分" data-rating="4"></a>
          <a class="r9" title="给电影打4.5分" data-rating="4.5"></a>
          <a class="r10" title="给电影打5分" data-rating="5"></a>
        </div>
        <div class="margin-vertical clearfix">
          {% include ../modules/share.html %}
        </div>
      </div>
      
      <div class="col-md-10">
        <div class="margin-vertical">
          <h3>
            {% from utilities import combine_titles %}
            {{ combine_titles(movie.get('title'), movie.get('original_title')) }}
            {% if movie.get('year') %}
              <span class="text-muted">
                ({{ movie.get('year') }})
              </span>
            {% end %}
          </h3>
          {% if movie.get('directors') %}
            <p>
              <strong>导演:</strong> {{ ' / '.join(movie.get('directors')) }}
            </p>
          {% end %}
          {% if movie.get('casts') %}
            <p>
              <strong>主演:</strong> {{ ' / '.join(movie.get('casts')) }}
            </p>
          {% end %}
          {% if movie.get('genres') %}
            <p>
              <strong>类型:</strong> {{ ' / '.join(movie.get('genres')) }}
            </p>
          {% end %}
          {% if movie.get('countries') %}
            <p>
              <strong>地区:</strong> {{ ' / '.join(movie.get('countries')) }}
            </p>
          {% end %}
          {% if movie.get('aka') %}
            <p>
              <strong>又名:</strong> {{ ' / '.join(movie.get('aka')) }}
            </p>
          {% end %}
          {% if movie.get('douban') and 'rating' in movie.get('douban') %}
            <p>
              <strong>豆瓣评分:</strong> {{ movie.get('douban').get('rating') }}
              (<a href="{{ movie.get('douban').get('url') }}" target="_blank">去豆瓣看看</a>)
            </p>
          {% end %}
          {% if movie.get('summary') %}
            <p>
              <strong>简介:</strong> {{ movie.get('summary') }}
            </p>
          {% end %}
        </div>
      </div>
    </div>

  {% end %}

{% end %}

{% block extra_links %}
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/star-rating-large.css') }}">
{% end %}

{% block extra_scripts %}
  <script type="text/javascript" src="{{ static_url('js/jquery.cookie.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/utilities.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/movie-profile.js') }}"></script>
{% end %}