<ul class="nav nav-pills">
  <li class="active">
    <a href="#">最热</a>
  </li>
  <li>
    <a href="#">分类</a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">排行<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">豆瓣电影Top250</a></li>
      <li><a href="#">IMDB电影Top250</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">奖项<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">奥斯卡金像奖</a></li>
      <li><a href="#">戛纳国际电影节</a></li>
      <li><a href="#">威尼斯国际电影节</a></li>
      <li><a href="#">柏林国际电影节</a></li>
      <li><a href="#">中国电影金鸡奖</a></li>
      <li><a href="#">香港电影金像奖</a></li>
      <li><a href="#">台湾电影金马奖</a></li>
    </ul>
  </li>
  <li>
    <a href="#">上映</a>
  </li>
</ul>