<div class="content-block">
  <div class="row-fluid">
    <div class="pull-left">
      <ul class="nav-secondary">
        <li class="active"><a href="/movie/hot"><i class="icon-fire"></i> 热门</a></li>
        <li><a href="/movie/category"><i class="icon-list"></i> 分类</a></li>
        <li><a href="/movie/onshow"><i class="icon-calendar"></i> 上映</a></li>
        <li><a href="/movie/onshow"><i class="icon-signal"></i> 排行</a></li>
        <li><a href="/movie/classic"><i class="icon-star-empty"></i> 经典</a></li>
      </ul>
    </div>

    <div class="pull-right">
      <form class="navbar-search" method="get" action="">
        <div class="input-append">
          <input type="text" class="input-xlarge" placeholder="片名、导演、演员……">
          <button type="submit" class="btn">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>