{% extends ../layout/layout.html %}

{% block content %}

  {% include navbar.html %}
  
  <div class="content-block">
    <div class="row-fluid">
<!-- 	  <div class="pull-left">
        {% include ../modules/hotness_switcher.html %}
      </div> -->
      <div class="pull-right">
        {% include ../modules/view_format_switcher.html %}
      </div>
    </div>
  </div>

  {% if params.get('view_format') == 'image-text' %}
    {% include ../modules/image_text_view.html %}
  {% elif params.get('view_format') == 'text' %}
    {% include ../modules/text_view.html %}
  {% elif params.get('view_format') == 'image' %}
    {% include ../modules/image_view.html %}
  {% end %}

{% end %}
