{% extends account_layout.html %}

{% block account_content %}

  <legend>修改密码</legend>
  <form id="editPassword" class="form-horizontal" action="/account/editpassword" method="post">
    <div class="control-group">
      <label class="control-label" for="oldPassword">旧密码</label>
      <div class="controls">
        <input type="password" id="oldPassword" name="old-password" maxlength=16>
        <span id="oldPasswordHelp" class="help-inline help-info">6-16个字符，建议使用字母、数字或符号的组合</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="newPassword">新密码</label>
      <div class="controls">
        <input type="password" id="newPassword" name="new-password" maxlength=16>
        <span id="newPasswordHelp" class="help-inline help-info">6-16个字符，建议使用字母、数字或符号的组合</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">确认修改</button>
        <span id="submitHelp" class="help-inline help-info" style="display: none;"></span>
      </div>
    </div>
  </form>
{% end %}

{% block extra_scripts %}
  <script type="text/javascript" src="{{ static_url('js/edit-password-validation.js') }}"></script>
{% end %}