{% extends account_layout.html %}

{% block account_content %}

  <legend>修改密码</legend>
  <form class="form-horizontal" action="/account/editpassword" method="post">
    {% module xsrf_form_html() %}
    <div class="control-group">
      <label class="control-label" for="input-old-password">旧密码</label>
      <div class="controls">
        <input type="password" id="input-old-password" name="old-password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input-new-password">新密码</label>
      <div class="controls">
        <input type="password" id="input-new-password" name="new-password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input-confirm-password">确认新密码</label>
      <div class="controls">
        <input type="password" id="input-confirm-password" name="confirm-password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">确认修改密码</button>
      </div>
    </div>
  </form>
{% end %}