{% extends account_layout.html %}

{% block account_content %}

  {% if params.get('user') and params.get('user').get('watched') and params.get('user').get('watched').get('movie') %}
    <legend>我看过的({{ len(params.get('user').get('watched').get('movie')) }})</legend>
    <table class="table table-condensed table-striped table-dash-border">
      <thead>
          <th class="auto-size">电影名称</th>
          <th class="auto-size">添加日期</th>
      </thead>
      <tbody>
        {% from utilities import combine_titles %}
        {% for movie in params.get('user').get('watched').get('movie') %}
          <tr>
            <td>
              <a href="/movie/{{ str(movie.get('id')) }}" target="_blank">
                {{ combine_titles(movie.get('title'), movie.get('original_title')) }}
              </a>
            </td>
            <td class="auto-size">
              {{ movie.get('created_at').strftime('%Y-%m-%d') }}
            </td>
          </tr>
        {% end %}
      </tbody>
    </table>
  {% else %}
    <legend>我看过的(0)</legend>
  {% end %}
{% end %}