{% extends account_layout.html %}

{% block account_content %}

  {% if params.get('user') and params.get('user').get('watched') and params.get('user').get('watched').get('movie') %}
    <legend>我已看的(<span id="movieCount">{{ len(params.get('user').get('watched').get('movie')) }}</span>)</legend>
    <table class="table table-condensed table-hover table-dash-border">
      <thead>
          <th class="auto-size">电影名称</th>
          <th class="auto-size">豆瓣评分</th>
          <th class="auto-size">年份</th>
          <td class="auto-size"></td>
      </thead>
      <tbody>
        {% for movie in params.get('user').get('watched').get('movie') %}
          <tr>
            <td>
              <a href="/movie/{{ str(movie.get('_id')) }}" target="_blank">
                {{ movie.get('title') }}
              </a>
            </td>
            <td class="auto-size">
              {% if movie.get('douban') and 'rating' in movie.get('douban') %}
                <span class="rating">
                  {{ movie.get('douban').get('rating') }}
                </span>
              {% end %}
            </td>
            <td class="auto-size">
              {% if movie.get('year') %}
                {{ movie.get('year') }}
              {% end %}
            </td>
            <td class="auto-size">
              <div class="btn-group toolbar pull-right">
                <button id="toWatch" data-id="{{ movie.get('_id') }}" class="btn btn-mini" title="想看本片"><i class="icon-eye-open"></i> 想看</button>
                <button id="remove" data-id="{{ movie.get('_id') }}" class="btn btn-mini" title="移除"><i class="icon-remove"></i> 移除</button>
              </div>
            </td>
          </tr>
        {% end %}
      </tbody>
    </table>
  {% else %}
    <legend>我已看的(0)</legend>
  {% end %}

{% end %}

{% block extra_scripts %}
  <script type="text/javascript" src="{{ static_url('js/account-watched.js') }}"></script>
{% end %}