{% extends account_layout.html %}

{% block account_content %}

  {% if params.get('user') and params.get('user').get('watched') and params.get('user').get('watched').get('movie') %}
    <legend>我看过的({{ len(params.get('user').get('watched').get('movie')) }})</legend>
    <table class="table table-condensed table-striped table-dash-border">
      <thead>
          <th class="auto-size">电影名称</th>
          <th class="auto-size">豆瓣评分</th>
          <th class="auto-size">年份</th>
      </thead>
      <tbody>
        {% from utilities import combine_titles %}
        {% for movie in params.get('user').get('watched').get('movie') %}
          <tr>
            <td>
              <a href="/movie/{{ str(movie.get('_id')) }}" target="_blank">
                {{ combine_titles(movie.get('title'), movie.get('original_title')) }}
              </a>
            </td>
            <td class="auto-size">
              {% if movie.get('douban') and 'rating' in movie.get('douban') %}
                <span class="rating">
                  {{ movie.get('douban').get('rating') }}
                </span>
              {% end %}
            </td>
            <td class="auto-size">
              {% if movie.get('year') %}
                {{ movie.get('year') }}
              {% end %}
            </td>
          </tr>
        {% end %}
      </tbody>
    </table>
  {% else %}
    <legend>我看过的(0)</legend>
  {% end %}
{% end %}